* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
}

#newyork {
	background-image: url("images/newyork.jpg");
	height: 100vh;
	color: white;
	background-attachment: fixed;
	margin-bottom: 0;
}

nav {
	background-color: rgba(0, 0, 0, .5);
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: solid 1px white;
	opacity: 0;
}

.navleft {
	float: left;
	margin-top: 0.05em
}

#logo {
	height:  50px;
}

.navright {
	float: right;
}

nav li {
	display: inline-block;
	font-size: 14px;
	margin: 1.25em .8em 1em 0em;
}

.navright a {
	text-decoration: none;
	color: white;
	padding: .5em;

}

.navright a:hover {
	color: black;
	background-color: white;
}

#headline {
	clear: both;
	margin: 45vh auto;
	font-size: 70px;
	font-weight: normal;
	position: fixed;
	width: 100%;

}

h2 {
	margin: 0;
	padding-top: .95em;
	padding-bottom: .50em;
	font-weight:normal;
	font-size: 30px;
	color: #007FB2;
}

hr {
	width: 30%;
	margin: 0 auto;
}

#about {
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	padding: 50px 0px;
	background-color: white;

}

#about li, #portfolio li {
 	list-style-type: none;
 	font-size: 18px;
 	padding: .8em;
 }

#portfolio {
	width: 100%;
	padding: 50px 0px;
	overflow: auto;
	background-color: #f1f1f1;
}

.work {
	padding: 2% 2% 1%;
	margin: 0 0 3% 3.8%;
	display:none;
	float: left;
	width: 350px;
	background-color: #FFB183;
	overflow: auto;

}

.workdescription {
	clear: both;
	width: 350px;
	display: inline-block;
}

.workdescription p {
	margin: 0 auto;
	padding: 10px 0px;
	color: black;
}

.workpicture {
	display: inline-block;
	width: 350px;
	height: 350px;
	margin: 0 auto;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#third_goal {
	background-image: url("images/portfolio/coming-soon.jpg");
}

#street_report {
	background-image: url("images/portfolio/streetreport.png");
}

#shipster {
	background-image: url("images/portfolio/shipster.png");
}
#corvus {
	background-image: url("images/portfolio/corvus.png");
}
#list {
	background-image: url("images/portfolio/paper2.jpg");
}
#brain {
	background-image: url("images/portfolio/brainlobes2.jpg");
}

#resume {
	clear: both;
	background-color: white;
	margin-top: -40px;
	padding: 50px 0px 0px;
}

#my_resume {
	margin: 20px 20px 0px;
	width: 90%;
}

#contact {
	color: white;
	background-image: url(images/newyork.jpg);
	height: 100vh;
	background-attachment: fixed;
}

#contact a {
	color: white;
	text-decoration: none;
}

#contact-content {
	margin-top: 40vh;
	position: fixed;
	top:0;
	width: 100%;
	display: none;
}

#contact li {
	display: inline-block;
	padding: .6em;
	font-size: 20px;
}


@media all and (max-width: 520px) {
	#headline {
		font-size: 55px;
	}
	.work {
		margin: 5% 0;
		width: 100%;
		padding: 6% 0;
	}
	.workpicture {
		width: 300px;
		height: 300px;
	}
}